<% provide(:title, @user.name) %>
<div class="row">
    <div class ="medium-4 columns">
        <h3>Hello, <%= @user.name %> </h3>
        <%= gravatar_for @user %>
        <h5> You have <%= pluralize(@documents.count, "document") %>
        <%= link_to "Add new Doc", new_document_path, class: "button large primary" %>
    </div>
    <div class="medium-8 columns medium-offset-4">
        <table>
            <thead>
                <tr>
                    <th>Title</h1>
                    <th>Link</h1>
                    <th>Tag</h1>
                    <th>Department</th>
                    <th> Edit </th>
                </tr>
            </thead>
            <tbody>
                <% @documents.each do |document| %>
                    <tr>
                        <td> <%= document.title %></td>
                        <td> <%= link_to document.link, document.link%></td>
                        <td> <%= document.tag %></td>
                        <td> <%= document.department %></td>
                        <td> <%= link_to "Edit Doc", edit_document_path(document) %>
                    </tr>
                <% end %>
            </tbody>

        </table>
    </div>
</div>
