<% provide(:title, "All documents") %>
<h5> You have <%=pluralize(@documents.count,"document") %> </h5>
<div class="row">
    <ul class="dropdown menu" data-dropdown-menu>
        <li>
            <a>Department Categories</a>
            <ul class="menu">
                <li> <%= link_to "Operations", documents_path(department: "Operations") %></li>
                <li> <%= link_to "Finance", documents_path(department: "Finance") %></li>
                <li> <%= link_to "IT", documents_path(department: "IT") %></li>
                <li> <%= link_to "Marketing", documents_path(department: "Marketing") %></li>
                <li> <%= link_to "Credit", documents_path(department: "Credit") %></li>
            </ul>
        </li>
    </ul>
    <div class="top-bar-right">
        <%= form_tag(documents_path, :method => 'get', id: "search-form") do  %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Documents" %>
            <%= submit_tag "Search", :name => nil %>
        <% end %>
    </div>

</div>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>LINK</th>
            <th>TAG</th>
            <th> <%= link_to "DEPARTMENT",documents_path(sort: "department") %></th>
            <tr/>
    </thead>
    <tbody>
        <%= render @documents %>
    </tbody>
</table>
