<% provide(:title, "All documents") %>
<div class="top-bar">
    <ul class="dropdown menu" data-dropdown-menu>
        <li>
            <a>Department Categories</a>
            <ul class="menu">
                <li> <%= link_to "Operations", documents_path(department: "Operations") %></li>
                <li> <%= link_to "Finance", documents_path(department: "Finance") %></li>
                <li> <%= link_to "IT", documents_path(department: "IT") %></li>
                <li> <%= link_to "Marketing", documents_path(department: "Marketing") %></li>
                <li> <%= link_to "Credit", documents_path(department: "Credit") %></li>
            </ul>
        </li>
    </ul>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>LINK</th>
            <th>TAG</th>
            <th> <%= link_to "DEPARTMENT",documents_path(sort: "department") %></th>
            <tr/>
    </thead>
    <tbody>
        <%= render @documents %>
    </tbody>
</table>
