<% provide(:title, "New Document") %>
<div class="row">
    <div class="medium-4 columns medium-offset-4">
        <%= form_for @document do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :Title %>
            <%= f.text_field :title %>

            <%= f.label :Link %>
            <%= f.text_field :link %>

            <%= f.label :Tag %>
            <%= f.text_field :tag %>

            <%= f.label :Department %>
            <%= f.select(:department, Document::CLASS_LIST, prompt: "Select department") %>
            <%= f.submit "Add New Document", class: "button extended primary" %>
        <% end %>
    </div>
</div>
